h2{
    text-align: center;
    color: white;
    font-size: 28pt;
    margin: 25px 0px;
}

p, h2{
    margin-left: 20px;
}
img{
    width: 300px;
    height: auto;
    margin-left: 20px;
}
footer {
    width: 100%;
    height: auto;
    background: var(--primary-color-background-footer);
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    font-family: var(--primary-font-family-footer);
    font-size: var(--primary-font-size-footer);
    color: var(--primary-color-text-footer);
    margin-bottom: 1%;
    padding-bottom: 1%;
}

footer div {
    width: 100%;
    margin: 1% 4%;

}

footer #autori {
    width: 30%;
    text-align: left;
    margin-top: 1%;
    overflow: auto;

}

footer #contatti {
    width: 30%;
    text-align: center;
    margin-top: 1%;
    overflow: auto;

}

footer #indirizzo {
    width: 30%;
    display: flex;
    text-align: right;
    justify-content: space-around;
    overflow: auto;

}


footer #indirizzo #indirizzo_descrizione {
    width: 75%;
}

footer #indirizzo #indirizzo_descrizione img {
   float: left;
   height: 100px;
   width: auto;
}
